* {
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

button {
  display: block;
  margin: 100px auto;
  padding: 20px;
}

button:hover {
  -webkit-box-shadow: 10px 10px 22px -10px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 22px -10px rgba(0,0,0,0.75);
box-shadow: 10px 10px 22px -10px rgba(0,0,0,0.75);
}
